<div id="navbar" class="container">
  <ul id="navlist">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Stylists", "Index", "Stylists")</li>
    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
  </ul>
</div>