/* GENERAL */
body {
  background-color: #303030;
  color: #FFFFFF;
}

ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

select {
  height: 32px;
  width: 186px
}

/* HEADER */
.banner h1, .banner h4 {
  display: inline-block;
  text-align: center;
}

#navbar ul{
  font-size: large;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #424242;
  border-radius: 8px;
}

#navbar li {
  float: left;
}

#navbar a {
  padding: 8px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #4c4c4c;
}

.header {
  display: block;
}

.active {
  background-color: #4c4c4c;
}

/* SPLASH PAGE */
.splash-links {
  text-align: center;
}

/* LIST DISPLAYS */
.right {
  background-color: #424242;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.empty {
  text-align: center;
  margin-top: 50px;
}

.display-list li {
  padding-top: 10px;
}

.display-list a:hover {
  text-decoration: underline;
}

.necessary {
  text-align: center;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 770px) {
  .left, .right {
    text-align: center;
    width: 95%;
  }

  .left {
    padding-left: 38px;
  }

  .right {
    margin-left: 24px;
  }

  .display-list, ul {
    margin-top: 20px;
    list-style: none;
  }

  .banner {
    text-align: center;
  }

  .banner h4 {
    display: none;
  }
}