/* GENERAL */
body {
  background-color: #303030;
  color: #FFFFFF;
}

/* NAVIGATION BAR */
#navbar ul{
  font-size: large;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #424242;
  border-radius: 8px;
}

#navbar li {
  float: left;
}

#navbar a {
  padding: 8px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #4c4c4c;
}

/* LINKS */
a {
  text-decoration: none;
}

.display-list a:hover {
  text-decoration: underline;
}

/* SPLASH PAGE */
.splash-links {
  text-align: center;
}

/* LIST DISPLAYS */
.right {
  background-color: #424242;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.empty {
  text-align: center;
  margin-top: 50px;
}

.display-list li {
  padding-top: 30px;
}

ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

/* CREATE FORMS */
label {
  margin-top: 10px;
  font-weight: bold;
}

select {
  height: 32px;
  width: 186px
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 770px) {
  .left, .right {
    text-align: center;
    width: 95%;
  }

  .left {
    padding-left: 38px;
  }

  .right {
    margin-left: 24px;
  }

  .display-list, ul {
    margin-top: 20px;
    list-style: none;
  }

}