@{
  Layout = "_Layout";
}
<div class="header container">
  <h1>Welcome to Eau Claire's Salon!</h1>
</div>

<div class="links container">
  <p>@Html.ActionLink("View Stylists", "Index", "Stylists")</p>
</div>