@{
  Layout = "_Layout";
}

<div class="header">
  <div class="container">
    <h1>Welcome, Claire!</h1>
  </div>

  @await Html.PartialAsync("NavBar")

  <br/>
</div>

<div class="splash-links container">
  <h3>@Html.ActionLink("View Stylists", "Index", "Stylists")</h3>
  <h3>@Html.ActionLink("Add a New Stylist", "Create", "Stylists")</h3>
</div>