@{
  Layout = "_Layout";
}
<div class="header">
  <div class="container">
    <h1>Welcome, Claire!</h1>
  </div>

  @await Html.PartialAsync("NavBar")

  <br/>
</div>

<div class="links container">
  <h4>@Html.ActionLink("View Stylists", "Index", "Stylists")</h4>
  <h4>@Html.ActionLink("Add a New Stylist", "Create", "Stylists")</h4>
</div>
