@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<div class="banner container">
  <h2>Are you sure you want to remove this client?</h2>
  <br/>
  <h3>Client: @Html.DisplayFor(model => model.Name)</h3>
</div>

<br/>

<div class="form container">
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" class="btn btn-danger" />
  }
</div>

<br/>

<div class="links container">
  <h4>@Html.ActionLink("Go Back", "Details", new { id = Model.ClientId })</h4>
</div>