@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<div class="header container">
  <h1>Current Salon Clients</h1>
</div>

@await Html.PartialAsync("NavBar")

<br/>

@if(Model.Count == 0)
{
  <div class="empty container">
    <h3>The Salon currently has no clients.</h3>
  </div>
}
else
{
  <div class="display-list container">
    <ul>
      @foreach(Client client in Model)
      {
        <li><h4>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | @client.Stylist.Name</h4></li>
      }
    </ul>
  </div>

  <br/>

  <div class="links container">
    <h4>@Html.ActionLink("Add a New Client", "Create")</h4>
  </div>
}